/*
	Create a procedure that return next information:
	'The car with the number {SIGH} belongs to the mark {MARK}'
*/

create procedure P1 (@sign nvarchar(10))
as
declare @mark nvarchar(40)	-- Initialization of a variable for storing data about the car mark
select @mark = Marks.name_of_mark from Cars, Marks
where @sign = Cars.car_id
and Cars.mark_id_FK = Marks.mark_id	-- Finding a mark name from the Marks table using a foreign key in the Cars table
print 'The car with the number ' + @sign + ' belongs to the mark ' + @mark	-- Information output