/*
	Create a procedure that returns a message with next information:
	'Mechanic {NAME} repairing a {MARK} car on order dated {DATE} at a cost of {PRICE}'
*/

create procedure P2
	@mechanic_id int,	-- Initialization area for variables for storing temporary data
	@car_id nvarchar(10),
	@order_date datetime,
	@currency nvarchar(4)
as
declare @mechanic_name nvarchar(30),
		@mark nvarchar(40),
		@value_in_currency decimal(10,2),
		@price decimal(10,2)
select @mechanic_name = Concat_ws(' ', Mc.first_name, Mc.last_name),	-- Finding a mechanic name from the Mechanic table using a function CONCAT with first name and last name as arguments
@mark = M.name_of_mark, @price = Op.price
from Mechanics as Mc, Marks as M, Orders as O, Cars as C, OrderParts as Op
where @mechanic_id = Mc.mechanic_id and Mc.mechanic_id = O.mechanic_id_FK
and @car_id = O.car_id_FK and O.car_id_FK = C.car_id
and @order_date = O.date and Op.order_id_FK = O.order_id;
select @value_in_currency = case @currency	-- Determining the cost depending on the entered currency
	when N'RUB' then @price
	when 'EUR' then @price / 106.42
	when '$' then @price / 96.95
	else NULL end
if @value_in_currency is not null	-- Information output if the variable is defined
print 'Master ' + @mechanic_name + ' repairing a ' + @mark + 
' car on order dated ' + Convert(nvarchar(max), @order_date) + 
' at a cost of: ' + Convert(nvarchar(max), @value_in_currency) + @currency
else
print 'Invalid currency value entered.'		-- Information output if the variable is not defined
