/*
	Create a procedure that updates the order price depending on the total price with next values
	if price is less than 1500 then discount is 5%,
	if price is more than 1500 and less then 25000 then discount is 10%,
	if price is more than 25000 then discount is 15%.
*/

create procedure P3
as
declare @count int,	-- Initialization area for variables for storing temporary data
		@price decimal(10,2),
		@discounted_price decimal(10,2),
		@percent float;
set @count = 0;
while (@count < (select MAX(order_part_id) from OrderParts))	--Initialization a loop to update the order price based on the order total
begin
	select @price = price from OrderParts
		where order_part_id = @count + 1;
	select @percent = case
		when @price < 1500 then 5
		when @price between 1500 and 25000 then 10
		when @price > 25000 then 15
		end;
	set @discounted_price = @price * (1 - @percent / 100)
	update OrderParts set price = @discounted_price		--Updates the order price depending on the total price
		where order_part_id = @count + 1;	
	set @count = @count + 1;
end;
